[
  {message_gateway, [
    {port, 8080},
    {database, [
      {host, "localhost"},
      {port, 5432},
      {database, "instantlly_messages"},
      {username, "postgres"},
      {password, "postgres"}
    ]},
    {redis, [
      {host, "localhost"},
      {port, 6379}
    ]}
  ]},
  {sasl, [
    {sasl_error_logger, false}
  ]}
].
